<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Rentaa</title>
    <link rel="stylesheet" href="../assets/style.css" />
</head>

<body>
    <div>
        <img src="../assets/Frame 10.png" alt="rentaa logo" />
    </div>
    <div class="container">
        {% block content %}{% endblock %}
    </div>
</body>

</html>