<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Email Template</title>
    <script src="https://cdn.tailwindcss.com"></script>

    <script>
        tailwind.config = {
            theme: {
                extend: {
                    colors: {
                        white: "#ffffff",
                        purple: "#35208c",
                    },
                },
            },
        };
    </script>

    <style>
        @import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap");
    </style>
</head>

<body class="overflow-x-hidden bg-purple">
    <div class="flex flex-col items-center p-2 m-6 mx-2">
        <div class="mb-8">
            <!-- <img src="Frame 10.png" alt="rentaa logo" /> -->
            <img src="https://rentaa-gadgets.s3.amazonaws.com/Group+385.png" alt="rentaa logo" srcset="">
        </div>

        <div class="flex flex-col text-left container bg-white h-100 mt-2 mb-3 mx-4 px-8 py-12 w-100 text-sm">

            <p><strong>Forgot your password?</strong></p>

            <p>Looks like you requested for a password reset link. If you didn't request for this, you can disregard this mail</p>

            <p>However, if you did request for a link, you can reset your password by clicking the button below</p>


            <a href="https://rentaa-front.herokuapp.com/reset_password_success/{{ token }}"><button
                    class="overflow-x-hidden text-center bg-purple text-white p-4 self-center w-40 mx-10 mb-6">
                    Reset Password
                </button></a>

            <p class="text-sm mt-4 mb-2 md:text-lg">
                Or copy and paste the link below in your browser
            </p>

            <a href="https://rentaa-front.herokuapp.com/reset_password_success/{{ token }}"
                class="overflow-x-hidden w-70 my-4 md:text-lg">
                https://rentaa-front.herokuapp.com/reset_password_success/{{ token }}
            </a>

            <p>If you did not request this email you can safely ignore it.</p>

            <p class="mt-8 md:text-xl">
                Thank you. <br />
                Rentaa squad
            </p>
        </div>
    </div>
</body>

</html>