<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Email Template</title>
    <link rel="stylesheet" href="./assets/css/style.css" />
  </head>
  <body>
    <div>
      <img src="./assets/Frame 10.png" alt="rentaa logo" />
    </div>

    <div class="container">
      <h1>Welcome to Rentaa</h1>
      <p>Hi Daniel Jesusegun,</p>
      <p>
        Thank you for creating a Rentaa account. We just need you to verify your
        account. Click on the button below to verify your account.
      </p>
      <button>Verify Your Account</button>
      <p>Or copy and paste the link below in your browser</p>
      <a href="#"> http://rentaa.xyz/account/verify/344fhdi554uh7WEUh95 </a>

      <p>
        Thank you. <br />
        Rentaa squad
      </p>
    </div>
  </body>
</html>